body {
    font-family: "Lato", sans-serif;
    background-image:url(../Lesson10/Component2.png);
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 1fr 50px;
}

.sidenav {

    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.08s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 27px;
    color: rgb(160, 123, 44);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: rgb(43, 149, 182);
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

header {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
}

header img {
    width: 400px;
    
}

main .vicious img{
    grid-column: 1/2;
    grid-row: 2/3;
}

main .resume img {
    grid-column: 3/4;
    grid-row: 2/3;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}
footer img {
    padding: 3px;
}